html, body, main, div, img, h1, button, h2, h4, nav, header, p, blockquote, cite {
    padding: 0%; 
    border: 0;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
}

/* html, main, footer, li {
    border: red solid 1px;
}

div, img, button, h1, h2, h4, nav, header, p {
    border: rgb(31, 19, 202) solid 1px;
} */

#first > * {
    margin: 0 15%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, #first, #bottom-footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
}

li {
    font-size: .7rem;
    margin: 0 0 0 10px;
}

#first-body {
    display: flex;
    align-items: center;
}

#first-text{
    margin: 50px 0;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 7px;
    border: 0;
    margin: 15px 0;
}

img {
    width: 250px;
    margin-left: 20px;
}

#second > * {
    margin-left:  15%;
    margin-right:  15%;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 36px;
}

#boxes {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}

.box {
    height: 120px;
    width: 120px;
    border: #3882F6 2px solid;
    border-radius: 10px;
}

#boxes > div > p {
    width: 120px;
    font-size: 14px;
}

#third {
    background-color: #E5E7EB;
    height: 200px;
    display: flex;
    align-items:center;
}

blockquote {
    margin: 10px 15%;
    font-style: italic;
    font-size: 20px;
}

#author {
    font-weight: bold;
    text-align: right;
}

#blue-field {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    margin: 50px 5%;
    padding: 10px 10%;
}

#bottom-button {
    border: #E5E7EB 1px solid;
}

h4 {
    font-weight: bold;
}

#bottom-footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}